



/* Style navigation menu links */
.topnav a {
    color: rgb(7, 93, 7);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  


/* Add a background colour on mouse-over */

.topnav a:hover {
    background-color: #57bb59;
    color: black;
  }
  
 
 
  .content {
    max-width: 960px;
    margin: auto;
  }
  
  