* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
}

.container {
    padding: 2rem 5%;
}

.container .image-container {
columns: 15rem 3;
gap: 1.4rem;
}

.container .image-container img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
}

.container .image-container img:hover {
    transform: scale(1.01);
}

#myBtn {
    display: inline-block;
    position: fixed; 
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(7, 93, 7); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #57bb59; /* Add a dark-grey background on hover */
  }